@model IEnumerable<Jalgratta.Models.Teenus>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Teenus</h1>

<p>
    <a asp-action="Create">Lisama Uus</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Info)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hind)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hind)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TeenusId">Muuda</a> |
                <a asp-action="Delete" asp-route-id="@item.TeenusId">Kustuta</a>
            </td>
        </tr>
}
    </tbody>
</table>
