@model Jalgratta.Models.Kasutaja

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detailid</h1>

<div>
    <h4>Kasutaja</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Perekonnanimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Perekonnanimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vanus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vanus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telnumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telnumber)
        </dd>
    </dl>
</div>
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model?.KasutajaId">Muuda</a> |
    <a asp-action="Index">Tagasi</a>
</div>
