@model Jalgratta.Models.Teenusetelimuse

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detailid</h1>

<div>
    <h4>Teenusetelimuse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Perekonnanimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Perekonnanimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telnumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telnumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teenus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teenus.TeenusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tootajad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tootajad.Telefon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kuupaev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kuupaev)
        </dd>
    </dl>
</div>
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TelimusId">Muuda</a> |
    <a asp-action="Index">Tagasi</a>
</div>
