@model IEnumerable<Jalgratta.Models.Teenusetelimus>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Teenuse telimus</h1>

<p>
    <a asp-action="Create">Lisama Uus</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tootajad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teenus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kasutaja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kuupaev)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tootajad.Nimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teenus.Info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kasutaja.Perekonnanimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kuupaev)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TelimusId">Muuda</a> |
                <a asp-action="Details" asp-route-id="@item.TelimusId">Detailid</a> |
                <a asp-action="Delete" asp-route-id="@item.TelimusId">Kustuta</a>
            </td>
        </tr>
}
    </tbody>
</table>
